*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
vcs.xml


AndroidApp/local.properties
AndroidApp/.idea/caches
AndroidApp/.idea/libraries
AndroidApp/.idea/modules.xml
AndroidApp/.idea/workspace.xml
AndroidApp/.idea/navEditor.xml
AndroidApp/.idea/assetWizardSettings.xml
.DS_Store
AndroidApp/build
AndroidApp/captures